streamlit
pytesseract
openai
fastapi
uvicorn[standard]
pydantic
python-dotenv
python-multipart
langchain
langchain-mistralai
chromadb
sentence-transformers
Pillow
pydub
speechrecognition
sqlalchemy
beautifulsoup4
requests
psycopg2-binary
langchain-openai
